/*配色，号码越高越暗*/

.co1{
    color: #F97D3F;
}
.co2{
    color: #58CEA4;
}
.co3{
    color: #CFB9f9;
}
.co4{
    color:#FBA6DF;
}
.co5{
    color:#0472F3;
}
.co6{
    color:#76FCFD;
}
.co7{
    color:#A175E8;
}
.co8{
    color:#FDDB48;
}
.co9{
    color:#262F4C;
}
.co10{
    color:#242C4B;
}
.co11{
    color:#D9B2B5;
}
.co12{
    color:#44BEF2;
}
.co13{
    color:#34BA8A;
}
.co14{
    color:#3B5C8D;
}

















.c1 {
    color: #DFF9F6;
}

.c2 {
    color: #B4DFD6;
}

.c3 {
    color: #B5C9C3;
}

.c4 {
    color: #569C8C;
}

.c5 {
    color: #4F8B7F;
}
