/*
整体布局：

最外层div，用弹性竖向。

*存疑：是否需要拿一个div把parts套起来？
*存疑：单位用v还是px？

里边直接套parts，每个parts一个div，position统一用relative。

parts里直接写元素，元素的position都用absolute相对自己的part定位。

parts的高度可以随便改。

最上层留出封面的100vh；

整个页面单位尽量都用vh和vw或百分比。
*/

* {
    margin: 0;
    padding: 0;
}

#back-to-top-button {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 30px;
    border-radius: 25px;
    z-index: 999;
}

#outermost-box {
    height: 1100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#cover {
    height: 100vh;
    width: 100%;
    background-color: #3B5C8D;
}

.part {
    width: 100%;
    position: relative;
}

#part1 {
    height: 200vh;
    background-color: #3B5C8D;
}

#part2 {
    height: 200vh;
    background-color: #3B5C8D;
}

#part3 {
    height: 200vh;
    background-color: #3B5C8D;
}

#part4 {
    height: 145vh;
    background-color: #3B5C8D;
}

#part5 {
    height: 255vh;
    background-color: #3B5C8D;
    overflow: hidden;

}


