


/*
    线条出现顺序：1先，2、3同时，4，再5、6同时

*/

/*大类标签*/
#part2>div{
    position: absolute;
    z-index: 20;
    opacity: 0;
}

#part2>svg{
    position: absolute;
    /*border: 5px solid white;*/
    z-index: 10;
}

#part2>svg>path{
    stroke-dasharray: 100vw 100vw;
    stroke-dashoffset: 100vw;
    stroke-width: 4vw;
    stroke: black;
    stroke-linecap: round;
    fill: none;
    opacity: 0;
    vector-effect: non-scaling-stroke;
    animation: revealArc 2s linear forwards;
}

/*单个div标签*/
#p2_challenges{
    height: 30vh;
    width: 20vw;
    border: 2px solid black;
    background-color: whitesmoke;
    left: 20vw;
    top: 20vh;
}

#p2_cha1{
    height: 50vh;
    width: 35vw;
    border: 2px solid black;
    background-color: whitesmoke;
    left: 10vw;
    top: 70vh;
}

#p2_cha2{
    height: 50vh;
    width: 30vw;
    border: 2px solid black;
    background-color: whitesmoke;
    left: 60vw;
    top: 70vh;
}

#p2_other{
    height: 40vh;
    width: 30vw;
    border: 2px solid black;
    background-color: whitesmoke;
    left: 5vw;
    top: 140vh;
}

#p2_select{
    height: 30vh;
    width: 30vw;
    border: 2px solid black;
    background-color: whitesmoke;
    left: 45vw;
    top: 140vh;

}

/*单个svg标签*/
#p2s1{
    left:32vw;
    top: -35vh;
    width:18vw;
    height:60vh;
}

#p2s2{
    left:32vw;
    top: -35vh;
    width:90vw;
    height:60vh;
}

#p2s3{
    left:15vw;
    top: -35vh;
    width:22vw;
    height:60vh;
}

#p2s4{
    left:10vw;
    top: 35vh;
    width:92vw;
    height:40vh;
}

#p2s5{
    left:5vw;
    top: 95vh;
    width:40vw;
    height:65vh;
}

#p2s6{
    left:5vw;
    top: 95vh;
    width:80vw;
    height:65vh;
}

#p2s7{
    left:45vw;
    top: 95vh;
    width:40vw;
    height:65vh;
}
